<form #form (submit)="addExerciseHandler(nameInput.value, durationInput.value)" >
  <div class="form-group">
    <input
      name="name"
      type="text"
      #nameInput
      placeholder="Exercise Name"
      required
    />
  </div>
  <div class="form-group">
    <input
      name="duration"
      type="number"
      #durationInput
      placeholder="Duration Time"
      required
    />
  </div>

  <button class="button-primary" >Add Exercise</button>
  <button class="button-clear" type="button" (click)="resetFormHandler()">Reset</button>
</form>
