<div class="stopwatch">
    <p class="time-display">{{elapsedTime | date:'H:mm:ss':'UTC'}} </p>
    <button (click)="startStopwatchHandler()">Start</button>
    <button (click)="stopStopwatchHandler()">Stop</button>
    <ul>
        @for (l of logs; track l.date) {
            <li>
                <span>Date: {{l.date | date: 'shortDate'}}</span>
                <span>Elapsed Time: {{l.elaspedTime
 | date:'H:mm:ss':'UTC' }}</span>
            </li>
        } @empty {
            <li>No logs yet!</li>
        }
    </ul>
</div>